{% extends "es/base.html" %}
{% block content %}
    <section class="all_page">
        <div id="selec_voto">
        {% if aut %}
            <form method="POST">
                <input class="boton" type="submit" name="seleccion" value="Seleccionar">
            </form>
        {% endif %}
            <form method="POST">
                <p>{{ aparcamiento.votos }}
                    <input class="boton" type="submit" name="voto" value="+1">
                </p>
            </form>
        </div>
        <h1>{{ aparcamiento.nombre }}</h1>
        <h4>Descripcion</h4>
        <p>{{ aparcamiento.descripcion }}</p>
        <h4>Ubicación:</h4>
        <p>Direccion: {{ aparcamiento.direccion }}</p>
        <p>Barrio: {{ aparcamiento.barrio }}</p>
        <p>Distrito: {{ aparcamiento.distrito }}</p>
        <p>Latitud: {{ aparcamiento.latitud }}</p>
        <p>Longitud: {{ aparcamiento.longitud }}</p>
        </br><h4>Contacto</h4>
        <p>{{ aparcamiento.contacto }}</p>
        <a href="{{ aparcamiento.url }}">Página web</a>
        <br/><br/>
        <h4>Comentarios del aparcamiento</h4>
        {% for coment in coment_list %}
            <p>{{ coment.texto }}</p>
            <hr>
        {% endfor %}
        {% if aut %}
            <form method="POST">
                <textarea id="comment_box" wrap="soft" placeholder="Escribe tu comentario" name="comentario"></textarea>
                <input class="boton" type="submit" value="Enviar">
            </form>
        {% endif %}
    </section>
{% endblock %}
