{% extends "base.html" %}
{% block content %}
    <form method="post">
        <input type="text" name=distrito>
        <input class="boton" type="submit" value="Filtrar">
    </form>
    </br></br>
    {% for aparcamiento in aparcamientos %}
        <a href="aparcamientos/{{ aparcamiento.id }}">{{ aparcamiento.nombre }}</a></br>
        <p> Direccion: {{ aparcamiento.direccion }}</p>
        <a href="aparcamientos/{{ aparcamiento.id }}">Mas informacion</a></br>
        <hr>
    {% endfor %}
{% endblock %}
