<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">
    <div id="banner">
        <!-- Visto en: https://docs.djangoproject.com/en/1.11/howto/static-files/ -->
        {% load static %}
        <img src="{% static "banner.jpg" %}" alt="Banner"/>
    </div>
    <div id="user_login">
        {% if aut %}
            <p> Bienvenido {{ name }}</p>
            <a href="logout">Logout</a>
        {% else %}
            <form method="post" action="login">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Contraseña">
                <input class="boton" type="submit" value="Login">
            </form>
        {% endif %}
    </div>
    <div id="barra">
        <a href="/">Inicio</a>
        <a href="/aparcamientos">Aparcamientos</a>
        <a href="/about">About</a>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</p>
    </div>
    </div>
</body>
</html>
