{% extends "en/base.html" %}
{% block content %}
<section class="all_page" id="about">
    <h1>About</h1>
    <p>Víctor Manuel Tenorio Gómez's webpage, from the Double Degree in Aerospace Engineering and Electrical Engineering in Telecommunications.</p>
    <h3>Usage</h3>
    <p>At home page you can see the most commented parkings. The name of the parking is a link to its page at comunidad de Madrid website, and the More Info link sends you to the page of the parking at the site.</p>
    <p>Also at home page you have the acceissible button, which allows you to see the parkings with its accessibility equals to 1 in all the page.</p>
    <p>At the parking's page, you can upvote it, and if you are a registered user, you can select it for your page.</p>
    <p>At the user page you can see his selected parkings, and if you are the user of the page, you can change the title of your page and the CSS of the whole site just for you</p>
    <p>At the parkings page, you can see all the parkings, with its name as a link to their webpage at the site.</p>
    <p>If you ask for the resource /xml or /json, or to /usuario/xml or /usuario/json, you can get the parking of each site's data in xml or json, depending on the resource asked.</p>
</section>
{% endblock %}
