body{ margin:0px; padding:0px; border:0px; font-family:Arial, Helvetica, sans-serif; color:#000; font-size:12px; background-image:url(../images/web_bg.gif); background-position:top; background-repeat:repeat-x;}
body img{ border:0px;}
h2{ font-size:18px; color:#333333; font-weight:800;}
h3{ font-size:18px; color:#333333; font-weight:100;}
.main{ width:990px; margin:0px auto 0px auto;}
.top-banner{ width:990px; height:270px; float:left; margin-top:10px;}

.menu-content{ width:990px; float:left;}
.main-menu{ width:990px; float:left; }
.main-menu a{ padding:15px 16px 15px 16px; float:left; text-decoration:none; color:#ccc; font-size:14px; font-weight:bold; text-transform:uppercase;}
.main-menu a:hover{ color:#98ccfe; cursor:pointer;}

#users {
    float:left;
    width:330px;
}

.footer{ width:990px; float:left; margin-top:20px; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5;}
.footer a{ padding:15px; text-decoration:none; color:#666; float:left;}
.footer a:hover{ color:#333; cursor:pointer;}
